<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID-19 Statewise Data</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
  </head>
  <body>
    <div class="containers">

      <!--side section start-->
      <aside>

        <div class="top">

          <div class="logo">
            <h2>C<span class="danger">Noel</span></h2>
          </div>
          <div class="close" id="close_btn">
            <span class="material-symbols-outlined">close</span>
          </div>

        </div>
        <!-- end top-->

        <div class="sidebar">

          <a href="#home" id="home">
            <span class="material-symbols-outlined">grid_view</span>
            <h3>Dashboard</h3>
          </a>
          <a href="#" class="active">
            <span class="material-symbols-outlined">person_outline</span>
            <h3>Customers</h3>
          </a>
          <a href="https://public.tableau.com/app/profile/noel.yohannan/viz/miniTab/Sheet1">
            <span class="material-symbols-outlined">insights</span>
            <h3>Analytics</h3>
          </a>
          <a href="#">
            <span class="material-symbols-outlined">mail_outline</span>
            <h3>Messages</h3>
            <span class="msg_count">14</span>
          </a>
          <a href="#">
            <span class="material-symbols-outlined">receipt_long</span>
            <h3>Products</h3>
          </a>
          <a href="#">
            <span class="material-symbols-outlined">report_gmailerrorred</span>
            <h3>Reports</h3>
          </a>
          <a href="#">
            <span class="material-symbols-outlined">settings</span>
            <h3>settings</h3>
          </a>
          <a href="#">
            <span class="material-symbols-outlined">add</span>
            <h3>Add Product</h3>
          </a>
          <a href="#">
            <span class="material-symbols-outlined">logout</span>
            <h3>logout</h3>
          </a>
        </div>
      </aside>
      <!--side section end-->

      <!-- main section start-->
       <main>
        <h1>COVID 19 TREND ANALYSIS</h1>

        <div class="date">
          <input type="date">
        </div>
        <div class="insights">
          <!--start selling-->
          <div class="sales">
            <span class="material-symbols-outlined">trending_up</span>
            <div class="middle">
              <div class="left">
                <h3>Total acitve Cases</h3>
                <h1>7.8M+</h1>
              </div>
              <div class="progress">
                <svg>
                  <circle r="30" cy="40" cx="40"></circle> 
                </svg>
                <div class="number">80%</div>
              </div>
            </div>
            <small>Last 24 Hours</small>
          </div>
          <!--end selling-->
         <!--start Expenses-->
         <div class="expenses">
          <span class="material-symbols-outlined">local_mall</span>
          <div class="middle">
            <div class="left">
              <h3>Total Death Cases</h3>
              <h1>7,010,681</h1>
            </div>
            <div class="progress">
              <svg>
                <circle r="30" cy="40" cx="40"></circle> 
              </svg>
              <div class="number">80%</div>
            </div>
          </div>
          <small>Last 24 Hours</small>
        </div>
        <!--end selling-->

          <!--start Expenses-->
          <div class="income">
            <span class="material-symbols-outlined">stacked_line_chart</span>
            <div class="middle">
              <div class="left">
                <h3>Vaccine administered</h3>
                <h1>13.53B+</h1>
              </div>
              <div class="progress">
                <svg>
                  <circle r="30" cy="40" cx="40"></circle> 
                </svg>
                <div class="number">80%</div>
              </div>
            </div>
            <small>Last 24 Hours</small>
          </div>
          <!--end selling-->
      </div>
      <!--end inside-->
      <!--start recent order-->
      <div class="recent_order">
        <div class ="container">
          <div class="content">
            <h1>What is COVID?</h1></br>
            <p>COVID-19, short for Coronavirus Disease 2019, is a highly contagious respiratory illness caused by the Severe Acute Respiratory Syndrome Coronavirus 2 (SARS-CoV-2). It was first identified in December 2019 in Wuhan, China, and quickly spread worldwide, leading to a global pandemic declared by the World Health Organization (WHO) in March 2020.</p>
          </div>
            </div>
        <div class="container">
          <h1>COVID-19 Statewise Data</h1></br></br>
          <a href="#" class="btn"><button onclick="displayTable()">Show Data</button></a>
          <div id="table-container">
            <!-- The HTML table will be inserted here by Flask -->
            {{ table_html | safe }}
          </div>
          <a href="/vaccine" class="vaccin"
            ><button onclick="displayTable()">Show Vaccine Data</button></a
          >
          <a href="/statewise" class="btn"><button onclick="displayTable()">  Show Statewise Data</br> (With Recovery & Mortality Rates)</button></a>
          <a href="/top10active" class="btn"><button onclick="displayTable()">Top 10 States with Most Active Cases</button></a>
          <a href="/top10deaths" class="btn"><button onclick="displayTable()">Top 10 States with Most Deaths</button></a>
          <a href="/top5states" class="btn"><button onclick="displayTable()">Top 5 Affected States In india</button></a>
        </div>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"
        ></script>
        <script>
          // Function to show the table when the button is clicked
          function displayTable() {
            const table = document.querySelector(".table");
            table.style.display =
              table.style.display === "none" || table.style.display === ""
                ? "table"
                : "none";
          }
        </script>
        <h1>Recent Vaccinations</h1>
        <table>
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Certificate ID</th>
              <th>Payments</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
               <tr>
                  <td>Covishield</td>
                  <td>73217371177</td>
                  <td>Done</td>
                  <td class="Success">Success</td>
                  <td class="primary" ><a href="https://drive.google.com/file/d/1_Gb6nVxBMCk32K2W_ORkRSoTi_k4_KLW/view?usp=sharing">Details</td></a>
              </tr>
              <tr>
                <td>Covishield</td>
                <td>90291920906</td>
                <td>Done</td>
                <td class="warning">Success</td>
                <td class="primary"><a href="https://drive.google.com/file/d/1S0cyg0rwBEmttNVDwTjY-N-_KKMTm_xr/view?usp=sharing">Details</td></a>
            </tr>
            <tr>
              <td>Covishield</td>
              <td>61929972670</td>
              <td>Done</td>
              <td class="warning">Success</td>
              <td class="primary"><a href="https://drive.google.com/file/d/1WWM9cRwwWwYdOK3spdqxCHSveW3mi4Np/view?usp=drive_link">Details</td></a>
          </tr>
          </tbody>
        </table>
       
      </div>
      <!--end recent order-->
       </main>
      <!-- main section end-->

       <!--right section start-->
       <div class="right">
       <div class="top">
        <button id="menu_bar">
          <span class="material-symbols-outlined">menu</span>
        </button>
        <div class="theme_toggler">
          <span class="material-symbols-outlined active">light_mode</span>
          <span class="material-symbols-outlined">dark_mode</span>
        </div>
        <div class="profile">
          <div class="info">
            <p><b>Noel</b></p>
            <p>Admin</p>
            <small class="text-muted"></small>
          </div>
          <div class="profile-photo">
            <img src="{{ url_for('static', filename='images/Screenshot_20241106_211027_Gallery.jpg') }}" alt="Gallery Screenshot">

          </div>
        </div>
       </div>
       <!--end top-->
       <!--start recent updates-->
       <div class="recent_updates">
        <h2>Recent Updates</h2>
        <div class="updates">
        <div class="update">
          <div class="profile-photo">
            <img src="{{ url_for('static', filename='images/noell.jpg') }}" alt="Gallery Screenshot">

          </div>
          <div class="message">
           <marquee behavior="" direction=""><p><b>Noel:</b> HMPV outbreak in China: Is it a new virus? How is it similar to Covid-19? Is there any vaccine? What we know so far</p></marquee> 
          </div>
        </div>
        <div class="update">
          <div class="profile-photo">
            <img src="{{ url_for('static', filename='images/noell.jpg') }}" alt="Gallery Screenshot">
          </div>
          <div class="message">
            <marquee behavior="" direction=""><p><b>Noel:</b> Human Metapneumovirus In India: Can HMPV Be As Fatal As COVID-19? Check Symptoms, Prevention And More</p></marquee> 
          </div>
        </div>
        <div class="update">
          <div class="profile-photo">
            <img src="{{ url_for('static', filename='images/noell.jpg') }}" alt="Gallery Screenshot">
          </div>
          <div class="message">
            <marquee behavior="" direction=""><p><b>Noel:</b> 'Not COVID, Don't Panic': Why the HMPV Outbreak in China Shouldn't Cause Alarm</p></marquee> 
          </div>
        </div>
      </div>


       </div>
       <!--end recent updates-->
       <!--start sale analytics-->
       <div class="sales_analytics">
        <h2>Sales Analytics</h2>
        <div class="item online">
          <div class="icon">
            <span class="material-symbols-outlined">shopping_cart</span>
          </div>
          <div class="right_text">
            <div class="info">
              <h3>Online Orders</h3>
              <small class="text-muted">Last seen 2 Hours Ago</small>
            </div>
            <h5 class="danger">-17%</h5>
            <h3>3849</h3>
          </div>
        </div>
        <div class="item online">
          <div class="icon">
            <span class="material-symbols-outlined">shopping_cart</span>
          </div>
          <div class="right_text">
            <div class="info">
              <h3>Online Orders</h3>
              <small class="text-muted">Last seen 2 Hours Ago</small>
            </div>
            <h5 class="danger">-17%</h5>
            <h3>3849</h3>
          </div>
        </div>
        <div class="item online">
          <div class="icon">
            <span class="material-symbols-outlined">shopping_cart</span>
          </div>
          <div class="right_text">
            <div class="info">
              <h3>Online Orders</h3>
              <small class="text-muted">Last seen 2 Hours Ago</small>
            </div>
            <h5 class="danger">-17%</h5>
            <h3>3849</h3>
          </div>
        </div>
       </div>
       <!--end sale analytics-->
       <div class="item add_products">
        <div>
            <span class="material-symbols-sharp">add</span>
        </div>
       </div>
       </div>
      
       <!--End right section-->
    </div>  
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
